In [1]:
import pandas as pd

df = pd.read_csv("data.csv")
df['data'] = df['data'].str.strip()

In [2]:
# Part 1
df['is_success'] = 0

for index, row in df.iterrows():
    x = df.loc[index,'data']
    x = [int(num) for num in x.split()]
    
    difference_list = [x[i + 1] - x[i] for i in range(len(x) - 1)]

    # All decreasing values
    if (all(i < 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
        df.at[index, 'is_success'] = 1
    
    # All increasing values
    elif (all(i > 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
        df.at[index, 'is_success'] = 1

print(f"Part 1 Solutions: {df['is_success'].sum()}")

Part 1 Solutions: 479

In [3]:
df['is_success2'] = 0

for index, row in df.iterrows():
    x = df.loc[index,'data']
    x = [int(num) for num in x.split()]
    
    difference_list = [x[i + 1] - x[i] for i in range(len(x) - 1)]

    # All decreasing values
    if (all(i < 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
        df.at[index, 'is_success2'] = 1
    
    # All increasing values
    elif (all(i > 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
        df.at[index, 'is_success2'] = 1

    else:
        for i in range(len(x)):
            new_list = x[:i] + x[i + 1:]
            difference_list = [new_list[i + 1] - new_list[i] for i in range(len(new_list) - 1)]

            # All decreasing values
            if (all(i < 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
                df.at[index, 'is_success2'] = 1
                break
            
            # All increasing values
            elif (all(i > 0 for i in difference_list)) & (max(abs(j) for j in difference_list) <= 3):
                df.at[index, 'is_success2'] = 1
                break

print(f"Part 2 Solutions: {df['is_success2'].sum()}")

Part 2 Solutions: 531

In [4]:
df[(df.is_success == 0) &
   (df.is_success2 == 1)]

                        data  is_success  is_success2
0       75 76 77 80 82 85 84           0            1
1    49 52 53 55 58 59 61 61           0            1
2             54 57 60 62 66           0            1
3          4 6 8 10 11 14 19           0            1
9          41 43 43 45 48 51           0            1
24      45 44 46 47 50 52 54           0            1
30            26 25 22 24 23           0            1
49            80 80 83 86 87           0            1
74   11 15 16 18 20 21 23 26           0            1
99            45 51 53 55 56           0            1
124     63 61 58 56 54 51 53           0            1
125           52 49 46 45 45           0            1
126        74 72 69 68 67 63           0            1
127        80 77 74 73 72 67           0            1
128     77 74 76 73 70 68 67           0            1
133       17 14 14 12 10 8 6           0            1
139           84 81 80 76 78           0            1
148     27 29 26 24 23 22 19           0            1
173  77 77 76 74 72 71 69 66           0            1
198        26 22 21 19 18 15           0            1
223     53 46 43 41 38 37 34           0            1
248           49 51 52 54 51           0            1
249           93 94 95 96 96           0            1
250  23 24 26 28 29 31 34 38           0            1
251        83 85 87 88 89 95           0            1
252           66 68 67 68 70           0            1
255           35 36 39 36 40           0            1
257        10 11 13 13 16 19           0            1
263           91 92 95 99 98           0            1
272           67 66 68 69 72           0            1
287     53 50 54 56 59 60 62           0            1
292     63 61 66 67 68 71 74           0            1
297     32 32 35 38 41 44 45           0            1
322              1 5 7 10 12           0            1
347        43 50 53 55 56 58           0            1
372     60 57 56 54 53 50 51           0            1
373  97 94 93 92 90 88 86 86           0            1
374           67 64 62 61 57           0            1
375        74 72 71 68 65 59           0            1
376     97 94 95 92 91 90 89           0            1
381           88 85 82 82 80           0            1
396                8 9 8 5 2           0            1
416           75 77 72 70 69           0            1
421           28 28 27 26 23           0            1
446     20 16 14 12 10 8 7 6           0            1
451        74 70 71 70 68 65           0            1
471           44 37 34 31 30           0            1
476     52 47 49 46 43 41 40           0            1
506  59 56 53 50 47 47 44 41           0            1
516  70 71 73 74 75 78 79 83           0            1
517        32 35 33 34 35 38           0            1
519     51 50 47 45 42 41 34           0            1