In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df.head()

  Col1  Col2
0    a     1
1    b     2
2    c     3
3    a     4
4    b     5